<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>
      Employees
    </h2>
    <ol class="breadcrumb">
      <li>
        {{#link-to 'home.dashboard'}}
          Home
        {{/link-to}}
      </li>
      <li class="active">
        Employees
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
    <div class="container">
      <div class="row">
        {{employees-list
          users=model.users
          userEducations=model.userEducations
          userSkills=model.userSkills
        }}
      </div>
    </div>
</div>
