{{#if isEditingMode}}
  {{input class="form-control input-width"
  type=type min=min max=max
  placeholder=placeholder
  value=rawValue
  focus-out=(action 'toggleEditMode')
  key-down=(action 'onKeyDown')}}
  {{#if showValidationError}}
    <label class="error">{{validationMessage}}</label>
  {{/if}}
{{else}}
  <label class="input-label" {{action 'toggleEditMode' value}}>
    {{#if value}}
      {{value}}
    {{else}}
      <span class={{if hidePlaceholder 'hide-placeholder'}}>{{placeholderText}}</span>
  {{/if}}
</label>
{{/if}}
