<div class="col-sm-12 col-lg-4">
  <div class="filter-group form-group">
    {{#power-select options=userSkillsList class="input-group" placeholder="Select name" selected=skillName onchange=(action 'selectChange' 'skillName') as |skill|}}
      {{skill}}
    {{/power-select}}
    {{#if skillName}}
      <i class="fa fa-close animated fadeInLeft clear-field" {{action 'removeSkillName' rowId}}></i>
    {{/if}}
  </div>
</div>
<div class="col-sm-6 col-lg-4">
  <div class="form-group">
    {{input type="number" placeholder="Grade at least" max=10 min=1 class="form-control" value=grade disabled=(if skillName false true)}}
  </div>
</div>
<div class="col-sm-6 col-lg-4">
  <div class="form-group">
    {{input type="number" placeholder="Experience at least" max=40 min=0 class="form-control" value=experience disabled=(if skillName false true)}}
  </div>
</div>
