$ember-power-select-border-color: #e5e6e7;
@import "ember-power-select";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "pods";
.ember-modal-overlay {
  z-index: 9999;
}
.app-title {
  font-weight: bold;
}
.ember-basic-dropdown-trigger {
  height: 34px;
  border-radius: 0;
  outline: none;
}
.google-btn {
  color: #dc4b38 !important;
  border-color: #dc4b38 !important;
  i {
    margin-right: 5px;
  }
  span {
    text-align: center;
  }
}
.google-btn:hover {
  color: #fff !important;
  border-color: #dc4b38 !important;
  background-color: #dc4b38 !important;
}
.login-btn-div {
  padding-top: 2em;
}
.welcome-div {
  padding-top: 3em;
}
.loading {
  height: 100%;
  width: 100%;
  display: block;
  i {
    margin: 0 auto;
  }
  .spinner-wrap {
    color: #ffffff;
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 14px);
    left: calc(50% - 14px);
  }
  .spinner-wrap.exe-plan {
    left: calc(50% + 101px);
  }
}
img.loading-spinner {
  animation: spin 1s infinite linear;
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: initial;
  animation-iteration-count: infinite;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
  height: 75px;
}
.loading-application {
  .spinner-wrap {
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 46%;
  }
}
.ember-power-select-trigger {
  line-height: 2.3;
}
.custom-modal-style {
  position: fixed;
  top: 30% !important;
}
@media screen and (max-width: 768px) {
  #page-wrapper .wrapper.wrapper-content {
    padding: 20px 0;
    .container {
      padding: 0;
    }
  }
}
