.clients-list {
  table.table tbody tr td:hover {
    cursor: pointer;
  }
  table .user-email i {
    color: #ccc;
    margin-right: 10px;
  }
}
.user-details-col {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  .ibox {
    position: relative;
  }
}
table.personal-info tbody td {
  border: none;
  padding: 2px 8px;
}
.close-employee-det {
  z-index: 99;
  position: absolute;
  right: 15px;
  top: 15px;
}
.close-employee-det:hover {
  cursor: pointer;
}
.client-detail,
.clients-list .tab-pane {
  height: auto;
}
.search-employees {
  margin: 10px 0;
  .user-type {
    margin: 0 0 10px;
  }
  .input-group {
    width: 100%;
  }
  .i-checks {
    display: inline-block;
    margin-right: 10px;
  }
  .ember-power-select-trigger {
    border-radius: 0;
  }
  .add-input-row {
    margin: 10px 0 0;
  }
  .education {
    width: 100%;
    float: left;
    .education-input {
      margin-bottom: 10px;
      float: left;
      width: 100%;
      position: relative;
    }
  }
  span.ember-power-select-placeholder,
  span.ember-power-select-selected-item {
    line-height: 2.25;
  }
  span.ember-power-select-placeholder {
    color: #c0c0c0;
  }
  a.remove-row {
    position: absolute;
    right: 0;
    top: 9px;
  }
  .filter-group {
    position: relative;
    i {
      display: none;
    }
  }
  .filter-group:hover i {
    position: absolute;
    display: block;
    top: 10px;
    right: 25px;
    z-index: 999;
  }
  .filter-group:hover i:hover {
    cursor: pointer;
  }
  i.clear-field {
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
  }
}
.resize-animation {
  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}
@media(min-width:768px) {
  .edu-filter {
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
  }
}
@media(max-width:768px) {
  .edu-filter,
  .personal-filter,
  .skill-filter {
    padding: 15px 0;
  }
  .edu-filter {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }
}
.img-circle-size {
  width: 128px;
}
