<div class="{{if currentUser 'col-sm-12 col-md-8 resize-animation' 'col-sm-12 col-md-12'}} animated fadeInRight resize-animation">
  <div class="ibox">
    <div class="ibox-content">
      <form class="search-employees col-md-12">
        <div class="row">
          <div class="col-sm-10 user-type">
            <div class="i-checks emp">
              <label>
                  {{input type="checkbox" name="employeeSelected" checked=employeeSelected}}
                  Employee
              </label>
            </div>
            <div class="i-checks man">
              <label>
                {{input type="checkbox" name="managerSelected" checked=managerSelected}}
                Manager
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 clearfix personal-filter">
            <div class="form-group">
              <label class="font-noraml">
                Email:
              </label>
              <div class="filter-group">
                {{#power-select options=emailList class="input-group" selected=selectedUsername onchange=(action 'selectChange' 'selectedUsername') as |email|}}
                  {{email}}
                {{/power-select}}
                {{#if selectedUsername}}
                  <i class="fa fa-close animated fadeInLeft clear-field" {{action 'resetProp' 'selectedUsername'}}></i>
                {{/if}}
              </div>
            </div>
            <div class="form-group">
              <label class="font-noraml">
                First name:
              </label>
              <div class="filter-group">
                {{#power-select options=firstNameList class="input-group" selected=selectedFirstName onchange=(action 'selectChange' 'selectedFirstName') as |firstName|}}
                  {{firstName}}
                {{/power-select}}
                {{#if selectedFirstName}}
                  <i class="fa fa-close animated fadeInLeft clear-field" {{action 'resetProp' 'selectedFirstName'}}></i>
                {{/if}}
              </div>
            </div>
            <div class="form-group">
              <label class="font-noraml">
                Last name:
              </label>
              <div class="filter-group">
                {{#power-select options=lastNameList class="input-group" selected=selectedLastName onchange=(action 'selectChange' 'selectedLastName') as |lastName|}}
                  {{lastName}}
                {{/power-select}}
                {{#if selectedLastName}}
                  <i class="fa fa-close animated fadeInLeft clear-field" {{action 'resetProp' 'selectedLastName'}}></i>
                {{/if}}
              </div>
            </div>
          </div>
          <div class="col-sm-4 clearfix edu-filter">
            <div class="form-group education">
              <div class="row">
                <div class="col-sm-12">
                  <label class="font-noraml">
                    Education:
                  </label>
                </div>
              </div>
              {{#each educationCount as |edu i|}}
                <div class="education-input row" id="edu_{{edu.id}}">
                  {{employees-list/education-filter
                    userEducations=userEducations
                    filteredUsers=filteredUsers
                    rowId=edu.id
                    selectedEducationList=selectedEducationList
                    selectedUsername=selectedUsername
                    selectedLastName=selectedLastName
                    selectedFirstName=selectedFirstName
                  }}
                  {{#if (gt i 0)}}
                    <a class="remove-row close-link" {{action 'removeEduRow' edu.id}}>
                      <i class="fa fa-close"></i>
                    </a>
                  {{/if}}
                </div>
              {{/each}}
              <a class="btn btn-primary btn-xs add-input-row pull-right" {{action 'addEducationRow'}}>
                <i class="fa fa-plus"></i>
                Add education
              </a>
            </div>
          </div>
          <div class="col-sm-4 clearfix skill-filter">
            <div class="form-group education">
              <div class="row">
                <div class="col-sm-12">
                  <label class="font-noraml">
                    Skill:
                  </label>
                </div>
              </div>
              {{#each skillCount as |skill i|}}
                <div class="education-input row" id="skill_{{skill.id}}">
                  {{employees-list/skill-filter
                    userSkills=userSkills
                    rowId=skill.id
                    selectedSkillList=selectedSkillList
                    filteredUsers=filteredUsers
                  }}
                  {{#if (gt i 0)}}
                    <a class="remove-row close-link" {{action 'removeSkillRow' skill.id}}>
                      <i class="fa fa-close"></i>
                    </a>
                  {{/if}}
                </div>
              {{/each}}
              <a class="btn btn-primary btn-xs add-input-row pull-right" {{action 'addSkillRow'}}>
                <i class="fa fa-plus"></i>
                Add skill
              </a>
            </div>
          </div>
        </div>
      </form>
      <div class="clients-list">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#employees">
              Employees
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#candidates">
              Candidates
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="employees" class="tab-pane active">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <tbody>
                  {{#each filteredUsers as |user|}}
                    {{#unless user.isCandidate}}
                      <tr {{action 'userListDetail' user.id}}>
                        <td class="client-avatar">
                          {{#if user.imageUrl}}
                            <img src="{{user.imageUrl}}" alt="">
                          {{else}}
                            <img src="img/avatar.png" alt="">
                          {{/if}}
                        </td>
                        <td>
                          {{user.firstName}} {{user.lastName}}
                        </td>
                        <td class="user-email hidden-xs">
                          <i class="fa fa-envelope"></i> {{user.username}}
                        </td>
                      </tr>
                    {{/unless}}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          <div id="candidates" class="tab-pane">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <tbody>
                  {{#each filteredUsers as |user|}}
                    {{#if user.isCandidate}}
                      <tr {{action 'userListDetail' user.id}}>
                        <td class="client-avatar">
                          <img src="{{user.imageUrl}}" alt="">
                        </td>
                        <td>
                          {{user.firstName}} {{user.lastName}}
                        </td>
                        <td class="user-email hidden-xs">
                          <i class="fa fa-envelope"></i> {{user.username}}
                        </td>
                      </tr>
                    {{/if}}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{#if currentUser}}
  <div class="col-sm-12 col-md-4 animated slideInRight user-details-col">
    <div class="ibox">
      <div class="ibox-content">
        <i class="fa fa-close pull-right close-employee-det" {{action 'closeEmployeeDetail'}}></i>
        <div class="row m-b-lg">
          <div class="col-lg-4 text-center">
            <div class="m-b-sm">
              {{#if currentUser.imageUrl}}
                <img src="{{currentUser.imageUrl}}" class="img-circle img-circle-size" />
              {{else}}
                <img src="img/avatar.png" alt="" class="img-circle img-circle-size">
              {{/if}}
            </div>
            <h2>
              {{currentUser.firstName}} {{currentUser.lastName}}
            </h2>
          </div>
          <div class="col-lg-8">
            <h3 class="text-navy">Personal information</h3>
            <table class="table personal-info">
              <tbody>
                <tr>
                  <td>
                    <strong>
                      Phone
                    </strong>
                  </td>
                  <td>
                      {{currentUser.phone}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      Email:
                    </strong>
                  </td>
                  <td>
                    {{currentUser.username}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      Address:
                    </strong>
                  </td>
                  <td>
                    {{currentUser.address}}
                  </td>
                </tr>
              </tbody>
            </table>
            {{#link-to 'home.employee' currentUser.id class="btn btn-primary btn-sm btn-block"}}
              Full profile
            {{/link-to}}
          </div>
        </div>
        <div class="client-detail">
          <hr />
          <div class="row">
            <div class="col-sm-12">
              <h3 class="text-navy">
                Skills
              </h3>
              {{#each currentUser.userSkills as |skill i|}}
                <strong>{{skill.skill.name}}</strong>{{if (not-eq currentUser.userSkills.length (math i "+" 1)) ',' '' }}
              {{/each}}
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-12">
              <h3 class="text-navy">
                Work experience
              </h3>
              {{#each currentUser.userWexperiences as |experience|}}
                <div>
                  <strong>"{{experience.projectName}}"</strong> for <span class="text-navy">{{experience.client}}</span> - {{date-format experience.startDate 'MMMM YYYY'}} - {{date-format experience.endDate 'MMMM YYYY'}}
                  <br/>
                  <em>{{experience.role}}</em>
                  <p>
                    {{experience.description}}
                  </p>
                  <br/>
                </div>
              {{/each}}
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-12">
              <h3 class="text-navy">
                Education
              </h3>
                {{#each currentUser.userEducations as |education|}}
                    <strong>{{education.education.name}}</strong> - {{date-format education.startDate 'YYYY'}}-{{date-format education.endDate 'YYYY'}}
                    <br/>
                    <em>{{education.education.type}}</em>
                    <br/>
                    <br/>
                {{/each}}
              </div>
            </div>
          <hr />
          <div class="row">
            <div class="col-sm-12">
              <h3 class="text-navy">
                Other
              </h3>
                {{#each currentUser.userOther as |other|}}
                  <strong>{{other.name}}</strong>
                  <br/>
                  <p>
                    {{other.value}}
                  </p>
                {{/each}}
              </div>
            </div>
          <hr />
          <div style="clear: both"></div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
