<button type="button" class="btn btn-primary btn-xs pull-right" {{action "toggleModal"}}><i class="fa fa-plus"></i> add new</button>
<h3 class="text-navy">
  Work experience
</h3>
{{#if workExperiences}}
  {{#each workExperiences as |experience|}}
    <div class="row work-experiance-div">
      <div class="col-lg-11">
        <strong>"{{experience.projectName}}"</strong> for <span class="text-navy">{{experience.client}}</span> - {{date-format
        experience.startDate 'MMMM YYYY'}} -
        {{#if experience.endDate}}
          {{date-format experience.endDate 'MMMM YYYY'}}
        {{else}}
          present
        {{/if}}
        <br/>
        <em>{{experience.role}}</em>
        <p>
          {{experience.description}}
        </p>
        <br/>
      </div>
      <div class='col-lg-1 delete-div'>
        <a {{action 'toggleWarningModal' experience.id experience.projectName}}><i class="fa fa-trash"></i></a>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>
    There is no work experience for this employee. Please add some.
  </p>
{{/if}}

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true overlay-class='custom-styles-modal'
    container-class='col-xs-6 col-sm-4 animated fadeIn' }}
    <!-- Modal content-->
    <div class="modal-header">
      <h4 class="modal-title">Add new work experience</h4>
    </div>
    <form role="form" novalidate="novalidate" id="new_experience_form" {{action 'addNewExperience' currentUser.id on='submit'}}>
      <div class="modal-body">
        <div class="row form-horizontal">
          <div class="form-group">
            <label class="col-lg-3 control-label">Project name</label>
            <div class="col-lg-9">
              {{validated-input model=newUserExperience valuePath='projectName' placeholder="Project name"}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Client</label>
            <div class="col-lg-9">
              {{validated-input type="text" model=newUserExperience valuePath='client' placeholder="Client"}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Role</label>
            <div class="col-lg-9">
              {{validated-input type="text" model=newUserExperience valuePath='role' placeholder="Role"}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Start date</label>
            <div class="col-sm-9">
              {{validated-input type='datepicker' model=newUserExperience valuePath='startDate' placeholder='Start date'}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">End date</label>
            <div class="col-sm-9">
              {{validated-input type='datepicker' model=newUserExperience valuePath='endDate' placeholder='End date'}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Description</label>
            <div class="col-lg-9">
              {{textarea cols="65" rows="4" value=description placeholder="Description" class="form-control"}}
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-white" {{action 'toggleModal'}}>Cancel</button>
        <button type="submit" class="btn btn-primary">Ok</button>
      </div>
    </form>
  {{/modal-dialog}}
{{/if}}
{{#if isShowingWarningModal}}
  {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true overlay-class='custom-styles-modal'
    container-class='col-xs-6 col-sm-4 animated fadeIn custom-modal-style' }}
    <!-- Modal content-->
    <div class="modal-header">
      <h3 class="modal-title">Warning</h3>
    </div>
    <div class="modal-body">
        <span class="modal-text-size">Are you sure you want to proceed with deletion of <strong>{{currentExpiranceName}}</strong> work expirience?</span>
    </div>
    <div class="modal-footer">
      <button class="btn btn-white" {{action 'toggleWarningModal'}}>Cancel</button>
        <button type="submit" class="btn btn-primary" {{action 'deleteWorkExpirience'}}>Ok</button>
    </div>
  {{/modal-dialog}}
{{/if}}
