<nav class="navbar navbar-static-top" role="navigation">
  <div class="navbar-header">
    {{#link-to 'home.dashboard'}}
      <a href="" class="navbar-brand app-title">SKILLDEX</a>
    {{/link-to}}
    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <i class="fa fa-reorder"></i>
    </button>
  </div>
  <div class="navbar-collapse collapse" id="navbar">
    <ul class="nav navbar-nav">
      <li class="my-profile">
        {{#link-to 'home.employee' activeUser.id}}My profile{{/link-to}}
      </li>
      <li class="all-employees">
        {{#link-to 'home.employees'}}Employees{{/link-to}}
      </li>
      <li class="dropdown dropdown-administration">
        <a aria-expanded="false" role="button" class="dropdown-toggle" data-toggle="dropdown"> Administration <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
          <li>
            {{#link-to 'home.add-new-employee'}}User administration{{/link-to}}
          </li>
          <li>
            {{#link-to 'home.administration'}}Work administration{{/link-to}}
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <a {{action 'logout'}}>
          <i class="fa fa-sign-out"></i> Log out
        </a>
      </li>
    </ul>
  </div>
</nav>
