<button type="button" class="btn btn-primary btn-xs pull-right" {{action "toggleModal"}}><i class="fa fa-plus"></i> add new</button>
<h3 class="text-navy skill-title">
  Skills
</h3>
{{#if skills}}
  {{#each skills as |skill i|}}
    <div class="col-md-6">
      <div>
        <span>{{skill.skill.name}}</span>
      <div class="row years-of-expirience-div pull-right">
        <div class='col-sm-10'>
          <small>years of experience: {{skill.experience}}</small>
        </div>
        <div class='col-sm-2'>
          <a {{action 'toggleWarningModal' skill.skill.id skill.skill.name}}><i class="fa fa-trash"></i></a>
        </div>
      </div>
      </div>
      <div class="progress progress-small">
      <div style= {{bar-width skill.grade}} class="progress-bar"></div>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>
    There is no skill for this employee. Please add some.
  </p>
{{/if}}

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal" translucentOverlay=true overlay-class='custom-styles-modal' container-class='col-xs-6 col-sm-4 animated fadeIn custom-modal-style custom-modal-style'
    }}
    <!-- Modal content-->
    <div class="modal-header">
      <h4 class="modal-title">Add new skill</h4>
    </div>
    <form role="form" novalidate="novalidate" id="new_skill_form" {{action 'addNewSkill' currentUser.id on='submit'}}>
      <div class="modal-body">
        <div class="row form-horizontal">
          <div class="form-group">
            <label class="col-lg-3 control-label">Skill</label>
            <div class="col-lg-9 power-skill-list">
              {{#power-select options=skillList class="input-group" placeholder="Select skill from list" searchField="name" renderInPlace=true
                selected=selectedSkill onchange=(action 'selectChange' 'selectedSkill') as |skill|}}
                {{skill.name}}
              {{/power-select}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Years of experience</label>
            <div class="col-lg-9">
              {{validated-input type="number" min=1 max=40 model=newUserSkill valuePath='experience' placeholder="Years of experience"}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Grade</label>
            <div class="col-lg-9">
              {{validated-input type="number" min=1 max=10 model=newUserSkill valuePath='grade' placeholder="Grade"}}
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-white" {{action 'toggleModal'}}>Cancel</button>
        <button type="submit" class="btn btn-primary">Ok</button>
      </div>
    </form>
  {{/modal-dialog}}
{{/if}}
{{#if isShowingWarningModal}}
  {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true overlay-class='custom-styles-modal' container-class='col-xs-6 col-sm-4 animated fadeIn custom-modal-style'}}
    <!-- Modal content-->
    <div class="modal-header">
      <h3 class="modal-title">Warning</h3>
    </div>
      <div class="modal-body">
        <span class="modal-text-size">Are you sure you want to proceed with deletion of <strong>{{currentSkillName}}</strong> skill?</span>
      </div>
      <div class="modal-footer">
        <button class="btn btn-white" {{action 'toggleWarningModal'}}>Cancel</button>
        <button type="submit" class="btn btn-primary" {{action 'deleteSkill'}}>Ok</button>
      </div>
  {{/modal-dialog}}
{{/if}}
