.image-circle-size {
  width: 150px;
  border: 3px solid #fff;
}
.user-image {
  margin-top: -85px;
}
.skill-title {
  margin-bottom: 15px;
}
.cancel {
  margin-right: 5px;
}
@media(max-width:769px) {
  .ember-modal-dialog {
    width: 90%;
  }
}
@media(max-width:414px) {
  .ember-modal-dialog {
    width: 90%;
    overflow: auto;
  }
}
@media(max-width:414px) {
  .ember-modal-dialog {
    width: 90%;
    height: 450px;
    overflow: auto;
  }
}
