<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>
      {{model.user.firstName}} {{model.user.lastName}}
    </h2>
    <ol class="breadcrumb">
      <li>
        {{#link-to 'home.dashboard'}}
          Home
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'home.employees'}}
          Employees
        {{/link-to}}
      </li>
      <li class="active">
        {{model.user.firstName}} {{model.user.lastName}}
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="container">
    <div class="wrapper wrapper-content">
      <div class="row animated fadeInRight">
        <div class="col-md-4">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Profile Detail</h5>
            </div>
            <div>
              <div class="ibox-content no-padding border-left-right">

              </div>
              <div class="ibox-content profile-content">
                <img alt="image" class="img-responsive" src="img/user-background.jpg">
                <div class="m-b-sm text-center user-image">
                  {{#if model.user.imageUrl}}
                    <img alt="image" class="img-circle image-circle-size" src="{{model.user.imageUrl}}">
                  {{else}}
                    <img alt="image" class="img-circle image-circle-size" src="img/avatar.png">
                  {{/if}}
                </div>
                <h1 class="text-center">{{model.user.firstName}} {{model.user.lastName}}</h1>
                <p><i class="fa fa-envelope-o"></i> {{model.user.username}}</p>
                <p><i class="fa fa-calendar"></i> {{date-format model.user.birthday}}</p>
                <p><i class="fa fa-map-marker"></i> {{model.user.address}}</p>
                <p><i class="fa fa-mobile"></i> {{model.user.phone}}</p>
                <h5>About me </h5>
                <p>
                  {{model.user.bio}}
                </p>
                <div class="row m-t-lg">
                  <div class="col-md-4">
                    {{peity-chart class='line' data='5,3,9,6,5,9,7,3,5,2'}}
                    <h5>
                      <strong>{{model.user.yearsOfExperience}}</strong> {{if (eq model.user.yearsOfExperience 1) ' year of experience' ' years of experience'}}</h5>
                  </div>
                  <div class="col-md-4">
                    {{peity-chart class='bar' data='5,3,9,6,5,9,7,3,5,2'}}
                    <h5>
                      <strong>{{model.user.userSkills.length}}</strong> Skills</h5>
                  </div>
                  <div class="col-md-4">
                    {{peity-chart class='line' data='5,3,9,6,5,9,7,3,5,2'}}
                    <h5>
                      <strong>{{certificateNumber}}</strong> {{if (eq certificateNumber 1) 'Certification' 'Certifications'}}</h5>
                  </div>
                </div>
                <div class="user-button">
                  <div class="row">
                    <div class="col-md-6">
                      <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-file-text-o"></i> Generate CV</button>
                    </div>
                    <div class="col-md-6">
                      <button type="button" class="btn btn-primary btn-sm btn-block" {{action 'toggleEditModal'}}><i class="fa fa-pencil-square-o"></i> Edit profile</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Work Detail</h5>
            </div>
            <div class="ibox-content">

              <div>
                <div class="slimScrollDiv">
                  <div class="full-height-scroll">
                    {{user-skills currentUser=model.user skills=model.user.userSkills skillList=model.skills}}
                    <div class="clearfix"></div>
                    <hr /> {{user-work-experience currentUser=model.user workExperiences=model.user.userWexperiences}}
                    <hr /> {{user-education currentUser=model.user educations=model.user.userEducations educationList=model.educations}}
                    <hr /> {{user-other currentUser=model.user others=model.user.userOther}}
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog close="cancelEditModal" targetAttachment="center" translucentOverlay=true overlay-class='custom-styles-modal' container-class='col-xs-6 col-sm-4 animated fadeIn'}}
    <!-- Modal content-->
    <div class="modal-header">
      <h4 class="modal-title">Edit profile</h4>
    </div>
    <form role="form" novalidate="novalidate" id="update_user_form" {{action 'updateUser' on='submit'}}>
      <div class="modal-body">
        <div class="row form-horizontal">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name</label>
            <div class="col-lg-9">
              {{validated-input model=model.user valuePath='firstName' placeholder='Enter a first name'}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name</label>
            <div class="col-lg-9">
              {{validated-input model=model.user valuePath='lastName' placeholder='Enter a last name'}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Username/email</label>
            <div class="col-lg-9">
              {{validated-input model=model.user valuePath='username' placeholder='Enter a username/email'}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Birthday</label>
            <div class="col-lg-9">
              {{validated-input type='datepicker' model=model.user valuePath='birthday' placeholder='Enter a birthday date'}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Address</label>
            <div class="col-lg-9">
              {{validated-input model=model.user valuePath='address' placeholder='Enter an address'}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Phone</label>
            <div class="col-lg-9">
              {{validated-input model=model.user valuePath='phone' placeholder='Enter a phone number'}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Biography</label>
            <div class="col-lg-9">
              {{textarea type="text" value=model.user.bio class="form-control" rows="4" placeholder="Enter a biography"}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary pull-right">Ok</button>
        <button class="btn btn-white cancel" {{action 'cancelEditModal'}}>Cancel</button>
      </div>
    </form>
  {{/modal-dialog}}
{{/if}}
