<div class="col-md-3">
  <div class="widget style1 navy-bg">
    <div class="row">
      <div class="col-xs-4">
        <i class="fa {{icon}} fa-5x"></i>
      </div>
      <div class="col-xs-8 text-right">
        <span>
          {{title}}
        </span>
        <h2 class="font-bold">
          {{value}}
        </h2>
      </div>
    </div>
  </div>
</div>
