<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Skilldex</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {{content-for "head"}}

  <link rel="stylesheet" href="assets/vendor.css">
  <link rel="stylesheet" href="assets/skilldex.css"> {{content-for "head-footer"}}
</head>

<body class="top-navigation  fixed-sidebar pace-done">
  <div id="wrapper"></div>
  {{content-for "body"}}

  <script src="assets/vendor.js"></script>
  <script src="assets/skilldex.js"></script>

  {{content-for "body-footer"}}
</body>

</html>
