<div class="col-lg-6 {{startPosition}}">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>{{title}}</h5>
      <div class="ibox-tools">
        <button class="btn btn-primary btn-xs" {{action "toggleModal"}}><i class="fa fa-plus"></i> Add new skill</button>
      </div>
    </div>
    <div class="ibox-content">
      <div id="editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
          <div class="col-sm-12">
            <div id="editable_filter" class="dataTables_filter pull-right">
              <label>
                {{input value=filter type="search" class="form-control input-sm" placeholder="Search" aria-controls="editable"}}
                {{#if isFiltering}}
                  <a class="fa fa-times icon-position" {{action 'clearFilter'}}></a>
                {{else}}
                  <i class="fa fa-search icon-position"></i>
                {{/if}}
              </label>
            </div>
          </div>
        </div>
        {{#if skillsList}}
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-striped table-bordered table-hover  dataTable" id="editable" role="grid" aria-describedby="editable_info">
                <thead>
                  {{#if (gt skillsList.length 3)}}
                    <tr role="row">
                      <th class="skill-name-cell-first">Name</th>
                      <th class="skill-description-cell-first">Description</th>
                      <th class="skill-action-cell-first">Action</th>
                    </tr>
                  {{else}}
                    <tr role="row">
                      <th class="skill-name-cell-second">Name</th>
                      <th class="skill-description-cell-second">Description</th>
                      <th class="skill-action-cell-second">Action</th>
                    </tr>
                  {{/if}}
                </thead>
              </table>
              <div class="table-scroll">
                <table class="table table-striped table-bordered table-hover  dataTable" id="editable" role="grid" aria-describedby="editable_info">
                  <tbody>
                    {{#each skillsList as |skill|}}
                      <tr>
                        <td class="skill-name-cell-second">
                          {{input-label value=skill.name placeholder='Enter a name' isNullable=false focus-out=(action 'updateSkillName' skill.id) }}
                        </td>
                        <td class="skill-description-cell-second">
                          {{input-label value=skill.description placeholder='Enter a description' isNullable=true focus-out=(action 'updateSkillDescription' skill.id) }}
                        </td>
                        <td style="text-align: center; vertical-align: middle;" class="skill-action-cell-second">
                          <a {{action 'toggleWarningModal' skill.id}}><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {{else}}
          <span class="col-md-5">No skills were found for {{title}}.</span>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true overlay-class='custom-styles-modal' container-class='col-xs-6 col-sm-4 animated fadeIn custom-modal-style'}}
    <!-- Modal content-->
    <div class="modal-header">
      <h4 class="modal-title">New skill for {{title}}</h4>
    </div>
    <form role="form" novalidate="novalidate" id="new_skill_form" {{action 'addNewSkill' on='submit'}}>
      <div class="modal-body">
        <div class="row form-horizontal">
          <div class="form-group">
            <label class="col-lg-3 control-label">Name</label>
            <div class="col-lg-9">
              {{validated-input model=newSkill valuePath='name' placeholder='Enter a name'}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Description</label>
            <div class="col-lg-9">
              {{textarea type="text" value=newSkill.description class="form-control" rows="4" placeholder="Enter a description"}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-white" {{action 'toggleModal'}}>Cancel</button>
        <button type="submit" class="btn btn-primary">Ok</button>
      </div>
    </form>
  {{/modal-dialog}}
{{/if}}

{{#if isShowingWarningModal}}
  {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true overlay-class='custom-styles-modal' container-class='col-xs-6 col-sm-4 animated fadeIn custom-modal-style'}}
    <!-- Modal content-->
    <div class="modal-header">
      <h3 class="modal-title">Warning</h3>
    </div>
    <div class="modal-body">
      <span class="modal-text-size">Are you sure you want to proceed with deletion of
        <strong>{{currentSkill.name}}</strong> skill?</span>
    </div>
    <div class="modal-footer">
      <button class="btn btn-white" {{action 'toggleWarningModal'}}>Cancel</button>
      <button type="submit" class="btn btn-primary" {{action 'deleteSkill'}}>Ok</button>
    </div>
  {{/modal-dialog}}
{{/if}}
