<div class="wrapper wrapper-content">
    <div class="container">
      <div class="row">
          {{dashboard-ibox title='Employees' value=model.users.length smallTitle='Last year growth' percent='25' icon='fa-group'}}
          {{dashboard-ibox title='Average age' value=averageAge smallTitle='Under 28' percent='25' icon='fa-pie-chart'}}
          {{dashboard-ibox title='Years of experience' value='176' smallTitle='Loreum ispum' percent='41' icon='fa-line-chart'}}
          <div>
            <div class="col-md-3">
                {{!-- <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Monthly income</h5>
                        <div class="ibox-tools">
                            <span class="label label-primary">Updated 12.2015</span>
                        </div>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="flot-chart m-t-lg" style="height: 55px;">
                            <div class="flot-chart-content" id="flot-chart1"></div>
                        </div>
                    </div>
                </div> --}}

                {{dashboard-stat-list}}

            </div>
          </div>
      </div>
      {{one-line-chart}}
    </div>
</div>
