{{#if (eq type 'datepicker')}}
  {{bs-datetimepicker date=rawInputValue forceDateOutput=true showToday=false format='DD/MM/YYYY' updateDate=(action (mut rawInputValue)) noIcon=true}}
{{else}}
  {{input type=type value=rawInputValue min=min max=max placeholder=placeholder class="form-control" name=valuePath}}
{{/if}}
<div class="input-error">
  {{#if showErrorClass}}
    <div class="help-block">
      {{v-get model valuePath 'message'}}
    </div>
  {{/if}}
</div>
