<div id="page-wrapper" class="gray-bg">
  <div class="row white-bg">

    <body class="gray-bg">
      <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
          {{#if signingIn}}
            <div>
              <img alt="image" class="text-center img-responsive" src="img/Logo.png">
            </div>
            <div class="welcome-div">
              <h3>Welcome to SKILLDEX</h3>
            </div>
            <div class="login-btn-div">
              <a class="btn google-btn" {{action 'authenticate'}}>
                <i class="fa fa-google fa-2x"> </i><span> Sign up with Google</span>
              </a>
              <!-- <a href="http://office.tmns.rs:9000/skilldex/connect/google">login</a> -->
            </div>
          {{else}}
            {{torii-iframe-placeholder}}
          {{/if}}
        </div>
      </div>
    </body>
  </div>
</div>
