<button type="button" class="btn btn-primary btn-xs pull-right" {{action "toggleModal"}}><i class="fa fa-plus"></i> add new</button>
<h3 class="text-navy">
  Other
</h3>
{{#if others}}
  {{#each others as |other|}}
    <div class="row user-other-div">
      <div class="col-lg-11">
        <strong>{{other.name}}</strong>
        <br/>
        <p>
          {{other.value}}
        </p>
        <br/>
      </div>
      <div class='col-lg-1 delete-div'>
        <a {{action 'toggleWarningModal' other.id other.name}}><i class="fa fa-trash"></i></a>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>
    There is no other skill for this employee. Please add some.
  </p>
{{/if}}

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true overlay-class='custom-styles-modal'
    container-class='col-xs-6 col-sm-4 animated fadeIn custom-modal-style' }}
    <!-- Modal content-->
    <div class="modal-header">
      <h4 class="modal-title">Add other</h4>
    </div>
    <form role="form" novalidate="novalidate" id="new_other_form" {{action 'addNewOther' currentUser.id on='submit'}}>
      <div class="modal-body">
        <div class="row form-horizontal">
          <div class="form-group">
            <label class="col-lg-3 control-label">Title</label>
            <div class="col-lg-9">
              {{validated-input model=newUserOther valuePath='name' placeholder="Title"}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Description</label>
            <div class="col-lg-9">
              {{textarea cols="65" rows="4" value=value placeholder="Description" class="form-control"}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-white" {{action 'toggleModal'}}>Cancel</button>
        <button type="submit" class="btn btn-primary">Ok</button>
      </div>
    </form>
  {{/modal-dialog}}
{{/if}}
{{#if isShowingWarningModal}}
  {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true overlay-class='custom-styles-modal'
    container-class='col-xs-6 col-sm-4 animated fadeIn custom-modal-style' }}
    <!-- Modal content-->
    <div class="modal-header">
      <h3 class="modal-title">Warning</h3>
    </div>
    <div class="modal-body">
      <span class="modal-text-size">Are you sure you want to proceed with deletion of <strong>{{currentOtherName}}</strong> other?</span>
    </div>
    <div class="modal-footer">
      <button class="btn btn-white" {{action 'toggleWarningModal'}}>Cancel</button>
        <button type="submit" class="btn btn-primary" {{action 'deleteUserOther'}}>Ok</button>
    </div>
  {{/modal-dialog}}
{{/if}}
