.administration-list {
  .type-box-position {
    margin-top: 1%;
  }
  .table-scroll {
    height: inherit;
    max-height: 13.5em;
    overflow: auto;
    width: 100%;
    padding: 0;
    margin-top: -21px;
    table {
      th {
        cursor: default;
      }
      .input-width {
        width: 100%;
      }
    }
  }
  .ibox-content {
    height: 21em;
    .dataTables_filter {
      input {
        padding-right: 25px;
      }
      .icon-position {
        position: absolute;
        right: 23px;
        top: 8px;
        font-size: larger;
      }
    }
  }
  .other-skills-content {
    height: 49em;
  }
  .table-scroll-other-skills {
    max-height: 41em;
  }
  .skill-name-cell-first {
    width: 29.5%;
  }
  .skill-description-cell-first {
    width: 59%;
  }
  .skill-action-cell-first {
    width: 11.5%;
  }
  .skill-name-cell-second {
    width: 30%;
  }
  .skill-description-cell-second {
    width: 60%;
  }
  .skill-action-cell-second {
    width: 10%;
  }
  .education-name-cell-first {
    width: 82.5%;
  }
  .education-action-cell-first {
    width: 17.5%;
  }
  .education-name-cell-second {
    width: 85%;
  }
  .education-action-cell-second {
    width: 15%;
  }
  .skill-description-cell-third {
    width: 64.5%;
  }
  .skill-action-cell-third{
    width: 5.5%
  }
  .nav.nav-tabs {
    border-bottom: none;
    padding: 0 0 0 15px;
    li {
      margin-right: 10px;
    }
    li.active button.btn {
      background: #5C5094;
      border-color: #e7eaec;
      color: #fff;
    }
    li.active button.btn:focus {
      outline: none;
    }
  }
}
.ember-modal-dialog {
  textarea {
    resize: vertical;
  }
  .modal-text-size {
    font-size: 14px;
  }
}
