<div class="ibox">
    <div class="administration-list">
      <ul class="nav nav-tabs">
        <li class="active">
          <button data-toggle="tab" href="#skills" class="btn btn-white">
              Skills
            </button>
        </li>
        <li>
          <button data-toggle="tab" href="#educations" class="btn btn-white">
              Educations
            </button>
        </li>
        <li>
          <button data-toggle="tab" href="#others" class="btn btn-white">
              Other skills
            </button>
        </li>
      </ul>
      <div class="tab-content">
        <div id="skills" class="tab-pane active animated fadeInLeft">
          {{administration-list/skill-type-box startPosition="type-box-position" title="Programing & modeling" skills=skills}}
          {{administration-list/skill-type-box startPosition="type-box-position" title="Version control systems" skills=skills}}
          {{administration-list/skill-type-box title="Oracle" skills=skills}}
          {{administration-list/skill-type-box title="Tibco" skills=skills}}
          {{administration-list/skill-type-box title="Roles" skills=skills}}
          {{administration-list/skill-type-box title="Language" skills=skills}}
          {{administration-list/skill-type-box title="Aurea" skills=skills}}
          {{administration-list/skill-type-box title="Opensource" skills=skills}}
          {{administration-list/skill-type-box title="Database" skills=skills}}
        </div>
        <div id="educations" class="tab-pane animated fadeInRight">
          {{administration-list/education-type-box startPosition="type-box-position" title="University" educations=educations}}
          {{administration-list/education-type-box startPosition="type-box-position" title="High school" educations=educations}}
          {{administration-list/education-type-box startPosition="type-box-position" title="Training" educations=educations}}
          {{administration-list/education-type-box title="Certificate" educations=educations}}
        </div>
        <div id="others" class="tab-pane animated fadeInLeft">
          {{administration-list/other-box startPosition="type-box-position" otherSkills=otherSkills}}
        </div>
      </div>
  </div>
</div>
