<div class="col-lg-12 {{startPosition}}">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Other skills</h5>
      <div class="ibox-tools">
        <button class="btn btn-primary btn-xs" {{action "toggleModal"}}><i class="fa fa-plus"></i> Add new skill</button>
      </div>
    </div>
    <div class="ibox-content other-skills-content">
      <div id="editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
          <div class="col-sm-12">
            <div id="editable_filter" class="dataTables_filter pull-right">
            <label>
              {{input value=filter type="search" class="form-control input-sm" placeholder="Search" aria-controls="editable"}}
              {{#if isFiltering}}
                <a class="fa fa-times icon-position" {{action 'clearFilter'}}></a>
              {{else}}
                <i class="fa fa-search icon-position"></i>
              {{/if}}
            </label>
            </div>
          </div>
        </div>
        {{#if otherSkillsList}}
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-striped table-bordered table-hover  dataTable" id="editable" role="grid" aria-describedby="editable_info">
                <thead>
                  <tr role="row">
                    <th class="skill-name-cell-second">Name</th>
                    <th class="skill-description-cell-third">Description</th>
                    <th class="skill-action-cell-third">Action</th>
                  </tr>
                </thead>
              </table>
              <div class="table-scroll table-scroll-other-skills">
                <table class="table table-striped table-bordered table-hover  dataTable" id="editable" role="grid" aria-describedby="editable_info">
                  <tbody>
                    {{#each otherSkillsList as |skill|}}
                      <tr>
                        <td class="skill-name-cell-second">
                          {{input-label value=skill.name placeholder='Enter a name' isNullable=false focus-out=(action 'updateOtherSkillName' skill.id) }}
                        </td>
                        <td class="skill-description-cell-third">
                          {{input-label value=skill.value placeholder='Enter a description' isNullable=true focus-out=(action 'updateOtherSkillDescription' skill.id) }}
                        </td>
                        <td style="text-align: center; vertical-align: middle;" class="skill-action-cell-third">
                          <a {{action 'toggleWarningModal' skill.id}}><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {{else}}
          <span class="col-md-5">No other skills were found.</span>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true overlay-class='custom-styles-modal' container-class='col-xs-6 col-sm-4 animated fadeIn custom-modal-style'}}
    <!-- Modal content-->
    <div class="modal-header">
      <h4 class="modal-title">New other skill</h4>
    </div>
    <form role="form" novalidate="novalidate" id="new_other_skill_form" {{action 'addNewOtherSkill' on='submit'}}>
      <div class="modal-body">
        <div class="row form-horizontal">
          <div class="form-group">
            <label class="col-lg-3 control-label">Name</label>
            <div class="col-lg-9">
              {{validated-input model=newOtherSkill valuePath='name' placeholder='Enter a name'}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Description</label>
            <div class="col-lg-9">
              {{textarea type="text" value=newOtherSkill.value class="form-control" rows="4" placeholder="Enter a description"}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-white" {{action 'toggleModal'}}>Cancel</button>
        <button type="submit" class="btn btn-primary">Ok</button>
      </div>
    </form>
  {{/modal-dialog}}
{{/if}}

{{#if isShowingWarningModal}}
  {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true overlay-class='custom-styles-modal' container-class='col-xs-6 col-sm-4 animated fadeIn custom-modal-style'}}
    <!-- Modal content-->
    <div class="modal-header">
      <h3 class="modal-title">Warning</h3>
    </div>
      <div class="modal-body">
        <span class="modal-text-size">Are you sure you want to proceed with deletion of <strong>{{currentOtherSkill.name}}</strong> skill?</span>
      </div>
      <div class="modal-footer">
        <button class="btn btn-white" {{action 'toggleWarningModal'}}>Cancel</button>
        <button type="submit" class="btn btn-primary" {{action 'deleteSkill'}}>Ok</button>
      </div>
  {{/modal-dialog}}
{{/if}}
