<div class="col-sm-12 col-lg-6">
  <div class="filter-group form-group">
    {{#power-select options=eduType class="" placeholder="Select type" selected=selectedEducationtype onchange=(action 'selectChange' 'selectedEducationtype') as |type|}}
      {{type}}
    {{/power-select}}
    {{#if selectedEducationtype}}
      <i class="fa fa-close animated fadeInLeft clear-field" {{action 'selectChange' 'selectedEducationtype'}}></i>
    {{/if}}
  </div>
</div>
<div class="col-sm-12 col-lg-6">
  <div class="form-group">
    {{#power-select options=eduName class="input-group" placeholder="Select name" disabled=(if selectedEducationtype false true) selected=selectedEducationName onchange=(action 'selectChange' 'selectedEducationName') as |name|}}
      {{name}}
    {{/power-select}}
  </div>
</div>
