<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>
      Administration
    </h2>
    <ol class="breadcrumb">
      <li>
        {{#link-to 'home.dashboard'}}
          Home
        {{/link-to}}
      </li>
      <li class="active">
        Administration
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
    <div class="container">
      <div class="row">
        {{administration-list skills=model.skills educations=model.educations otherSkills=model.otherSkills}}
      </div>
    </div>
</div>
