<button type="button" class="btn btn-primary btn-xs pull-right" {{action "toggleModal"}}><i class="fa fa-plus"></i> add new</button>
<h3 class="text-navy">
  Education
</h3>
{{#if educations}}
  {{#each educations as |education|}}
    <div class="row user-education-div">
      <div class="col-lg-11">
        <strong>{{education.education.name}}</strong> - {{date-format education.startDate 'MMMM YYYY'}} -
        {{#if education.endDate}}
          {{date-format education.endDate 'MMMM YYYY'}}
        {{else}}
          present
        {{/if}}
        <br/>
        <em>{{education.education.type}}</em>
        <p>
          {{education.note}}
        </p>
        <br/>
      </div>
      <div class='col-lg-1 delete-div'>
        <a {{action 'toggleWarningModal' education.education.id education.education.name}}><i class="fa fa-trash"></i></a>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>
    There is no education for this employee. Please add some.
  </p>
{{/if}}

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true overlay-class='custom-styles-modal'
    container-class='col-xs-6 col-sm-4 animated fadeIn custom-modal-style' }}
    <!-- Modal content-->
    <div class="modal-header">
      <h4 class="modal-title">Add new education</h4>
    </div>
    <form role="form" novalidate="novalidate" id="new_education_form" {{action 'addNewEducation' currentUser.id on='submit'}}>
      <div class="modal-body">
        <div class="row form-horizontal">
          <div class="form-group">
            <label class="col-lg-3 control-label">Education type</label>
            <div class="col-lg-9 power-skill-list">
              {{#power-select options=educationTypeList class="input-group" placeholder="Select education type from list" renderInPlace=true
                searchEnabled=false selected=selectedEducationType onchange=(action 'selectChange' 'selectedEducationType')
                as |educationType|}}
                {{educationType.name}}
              {{/power-select}}
            </div>
          </div>
          {{#if selectedEducationType}}
            <div class="form-group">
              <label class="col-lg-3 control-label">Education</label>
              <div class="col-lg-9 power-skill-list">
                {{#power-select options=filteredEducationList class="input-group" placeholder="Select education from list" renderInPlace=true
                  searchField="name" selected=selectedEducation onchange=(action 'selectChange' 'selectedEducation') as |education|}}
                  {{education.name}}
                {{/power-select}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Start date</label>
              <div class="col-sm-9">
                {{validated-input type='datepicker' model=newUserEducation valuePath='startDate' placeholder='Start date'}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">End date</label>
              <div class="col-sm-9">
                {{validated-input type='datepicker' model=newUserEducation valuePath='endDate' value=endDate placeholder='End date'}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Grade</label>
              <div class="col-lg-9">
                {{input type="number" min="1" max="10" value=grade placeholder="Grade" class="form-control"}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Note</label>
              <div class="col-lg-9">
                {{textarea cols="65" rows="4" value=note placeholder="Note" class="form-control"}}
              </div>
            </div>
          {{/if}}

        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-white" {{action 'toggleModal'}}>Cancel</button>
        <button type="submit" class="btn btn-primary">Ok</button>
      </div>
    </form>
  {{/modal-dialog}}
{{/if}}
{{#if isShowingWarningModal}}
  {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true overlay-class='custom-styles-modal'
    container-class='col-xs-6 col-sm-4 animated fadeIn custom-modal-style' }}
    <!-- Modal content-->
    <div class="modal-header">
      <h3 class="modal-title">Warning</h3>
    </div>
    <div class="modal-body">
      <span class="modal-text-size">Are you sure you want to proceed with deletion of <strong>{{currentEducationName}}</strong> education?</span>
    </div>
    <div class="modal-footer">
      <button class="btn btn-white" {{action 'toggleWarningModal'}}>Cancel</button>
        <button type="submit" class="btn btn-primary" {{action 'deleteUserEducation'}}>Ok</button>
    </div>
  {{/modal-dialog}}
{{/if}}
