<!-- <ul class="stat-list">
    <li>
        <h2 class="no-margins">{{assigned.assigned}}</h2>
        <small>Total assigned employees</small>
        <div class="stat-percent">30%</div>
        <div class="progress progress-mini">
            <div style="width: 30%;" class="progress-bar"></div>
        </div>
    </li>
    <li>
        <h2 class="no-margins ">7</h2>
        <small>Total unassigned employees</small>
        <div class="stat-percent">70%</div>
        <div class="progress progress-mini">
            <div style="width: 70%;" class="progress-bar"></div>
        </div>
    </li>
</ul> -->
<canvas id="stat-list" height="70">

</canvas>
