<div class="col-lg-4 {{startPosition}}">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>{{title}}</h5>
      <div class="ibox-tools">
        <button class="btn btn-primary btn-xs" data-animation="fadeOutRight" {{action "toggleModal"}}><i class="fa fa-plus"></i> Add new education</button>
      </div>
    </div>
    <div class="ibox-content">
      <div id="editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
          <div class="col-sm-12">
            <div id="editable_filter" class="dataTables_filter pull-right">
              <label>
                {{input value=filter type="search" class="form-control input-sm" placeholder="Search" aria-controls="editable"}}
                {{#if isFiltering}}
                  <a class="fa fa-times icon-position" {{action 'clearFilter'}}></a>
                {{else}}
                  <i class="fa fa-search icon-position"></i>
                {{/if}}
              </label>
            </div>
          </div>
        </div>
        {{#if educationsList}}
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-striped table-bordered table-hover  dataTable" id="editable" role="grid" aria-describedby="editable_info">
                <thead>
                  {{#if (gt educationsList.length 3)}}
                    <tr role="row">
                      <th class="education-name-cell-first">Name</th>
                      <th class="education-action-cell-first">Action</th>
                    </tr>
                  {{else}}
                    <tr role="row">
                      <th class="education-name-cell-second">Name</th>
                      <th class="education-action-cell-second">Action</th>
                    </tr>
                  {{/if}}
                </thead>
              </table>
              <div class="table-scroll">
                <table class="table table-striped table-bordered table-hover  dataTable" id="editable" role="grid" aria-describedby="editable_info">
                  <tbody>
                    {{#each educationsList as |education|}}
                      <tr>
                        <td class="education-name-cell-second">
                          {{input-label value=education.name placeholder='Enter a name' isNullable=false focus-out=(action 'updateEducationName' education.id) }}
                        </td>
                        <td style="text-align: center; vertical-align: middle;" class="education-action-cell-first">
                          <a {{action 'toggleWarningModal' education.id}}><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {{else}}
          <span class="col-md-12">No educations were found for {{title}}.</span>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true overlay-class='custom-styles-modal' container-class='animated fadeIn col-xs-6 col-sm-4 col-lg-3 custom-modal-style'}}
    <!-- Modal content-->
    <div class="modal-header">
      <h4 class="modal-title">New education for {{title}}</h4>
    </div>
    <form role="form" novalidate="novalidate" id="new_education_form" {{action 'addNewEducation' on='submit'}}>
      <div class="modal-body">
        <div class="row form-horizontal">
          <div class="form-group">
            <label class="col-lg-3 control-label">Name</label>
            <div class="col-lg-9">
              {{validated-input model=newEducation valuePath='name' placeholder='Enter a name'}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-white" {{action 'toggleModal'}}>Cancel</button>
        <button type="submit" class="btn btn-primary">Ok</button>
      </div>
    </form>
  {{/modal-dialog}}
{{/if}}

{{#if isShowingWarningModal}}
  {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true overlay-class='custom-styles-modal' container-class='col-xs-6 col-sm-4 animated fadeIn custom-modal-style'}}
    <!-- Modal content-->
    <div class="modal-header">
      <h3 class="modal-title">Warning</h3>
    </div>
      <div class="modal-body">
        <span class="modal-text-size">Are you sure you want to proceed with deletion of <strong>{{currentEducation.name}}</strong> education?</span>
      </div>
      <div class="modal-footer">
        <button class="btn btn-white" {{action 'toggleWarningModal'}}>Cancel</button>
        <button type="submit" class="btn btn-primary" {{action 'deleteEducation'}}>Ok</button>
      </div>
  {{/modal-dialog}}
{{/if}}
