<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Top skills in TMNS </h5>
            </div>
            <div class="ibox-content">
                <div id="morris-one-line-chart"></div>
            </div>
        </div>
    </div>
</div>
