<div class="{{if currentUser 'col-sm-8' 'col-sm-12'}}">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h2>Basic information</h2>
      <form id="add-new-candidate" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-4 control-label">First name</label>
          <div class="col-sm-4">
            {{validated-input model=user valuePath='firstName' placeholder='First name'}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Last name</label>
          <div class="col-sm-4">
            {{validated-input model=user valuePath='lastName' placeholder='Last name'}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Email</label>
          <div class="col-sm-4">
            {{validated-input model=user valuePath='username' placeholder='Email'}}
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label">Adress</label>
          <div class="col-sm-4">
            {{validated-input model=user valuePath='address' placeholder='Adress'}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Birthday</label>
          <div class="col-sm-4">
            {{validated-input type='datepicker' model=user valuePath='birthday' placeholder='Birthday'}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Phone</label>
          <div class="col-sm-4">
            {{input type=text class="form-control" name='phone' value=phone placeholder="Phone"}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Biography</label>
          <div class="col-sm-4">
            {{textarea class="form-control" cols="65" rows="6" id="biography" value=biography}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label"></label>
          <div class="col-sm-4">
            <h4>*User will be assigned "Candidate" role by default.</h4>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label"></label>
          <div class="col-sm-4">
            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" {{action 'save'}}>
              <strong>Save</strong>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
